@* @page "/vehiculos"
@inject VehiculosService VehiculosService

<PageTitle>Catalogo de Vehículos</PageTitle>

<h3>Catalogo de Vehículos</h3>

@if (vehiculos == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <div class="row">
        @foreach (var vehiculo in vehiculos)
        {
            <div class="col-12 col-md-4 mb-4">
                <div class="card">
                    <img src="@vehiculo.ImagenURL" class="card-img-top" alt="Imagen del vehículo" />
                    <div class="card-body">
                        <h5 class="card-title">@vehiculo.Marca @vehiculo.Modelo</h5>
                        <p class="card-text">Año: @vehiculo.Año</p>
                        <p class="card-text">Precio por día: @vehiculo.PrecioPorDia.ToString("C")</p>
                        <p class="card-text">Categoría: @vehiculo.Categoria</p>
                        <a href="#" class="btn btn-primary">Ver detalles</a>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private List<Vehiculos> vehiculos { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        vehiculos = await VehiculosService.ObtenerVehiculos();
    }
}
 *@